### HW 3 Куликов Василий

### Part-of-Speech разметка, NER , извлечение отношений

In [3]:
!pip install spacy

Requirement already satisfied: spacy in /usr/local/lib/python3.6/dist-packages (2.2.4)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.6/dist-packages (from spacy) (4.41.1)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy) (0.7.1)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.6/dist-packages (from spacy) (1.18.5)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy) (3.0.2)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy) (7.4.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy) (1.0.2)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy) (1.0.2)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy) (1.1.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy) (2.0.3)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from spacy) (1.0.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy) (0.4.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from spacy) (49.6.0)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy) (1.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy) (3.1.0)

In [2]:
!python -m spacy download en_core_web_md

Collecting en_core_web_md==2.2.5
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz (96.4MB)
     |████████████████████████████████| 96.4MB 1.1MB/s
Requirement already satisfied: spacy>=2.2.2 in /usr/local/lib/python3.6/dist-packages (from en_core_web_md==2.2.5) (2.2.4)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.0.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (2.0.3)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (0.7.1)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.18.5)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (2.23.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.1.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (49.6.0)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.0.2)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (1.0.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (3.0.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (4.41.1)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (0.4.1)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_md==2.2.5) (7.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_md==2.2.5) (2.10)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_md==2.2.5) (1.7.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_md==2.2.5) (3.1.0)
Building wheels for collected packages: en-core-web-md
  Building wheel for en-core-web-md (setup.py) ... done
  Created wheel for en-core-web-md: filename=en_core_web_md-2.2.5-cp36-none-any.whl size=98051305 sha256=da3b00386cdd2946a717b9a41ba2616c3832d8190a7000f9f838c5da74c60880
  Stored in directory: /tmp/pip-ephem-wheel-cache-0evnqw7n/wheels/df/94/ad/f5cf59224cea6b5686ac4fd1ad19c8a07bc026e13c36502d81
Successfully built en-core-web-md
Installing collected packages: en-core-web-md
Successfully installed en-core-web-md-2.2.5
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_md')

In [13]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [14]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os
import html

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [15]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [17]:
train_df = pd.read_csv('/train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [16]:
test_df = pd.read_csv('/test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [18]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [19]:
print(combine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38799 entries, 0 to 38798
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      38799 non-null  int64
 1   label   21602 non-null  float64
 2   tweet   38799 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 909.5+ KB
None

In [20]:
### 1. Заменим html-сущности (к примеру: &lt; &gt; &amp;). "&lt;" заменим на “<” и "&amp;" заменим на “&”)""".
### Сделаем это с помощью HTMLParser.unescape()
def replace_special_symbol(text):
    return  html.unescape(text)

### 2. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
### - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
### - для для замены @user на пробел, необходимо использовать re.sub()
### при применении функции необходимо использовать np.vectorize(function)
def delete_users_name(text):
    return re.sub('@[\w]*', ' ', text)

### 3. Изменим регистр твитов на нижний с помощью .lower()
def lower_tweets(text):
    return str(text).lower()

### 4. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. 
### Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()),
### если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

def  replace_words_in_dictonary(text, dictionary_words):     
    return ' '.join(dictionary_words.get(word, word) for word in text.split())

def replace_cutwords(text):
    global apostrophe_dict    
    return replace_words_in_dictonary(text, apostrophe_dict)

### 5. Заменим сокращения на их полные формы, используя short_word_dict. 
### Для этого воспользуемся функцией, используемой в предыдущем пункте.
def replace_short_words(text):
    global short_word_dict    
    return replace_words_in_dictonary(text, short_word_dict)

### 6. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. 
### Для этого воспользуемся функцией, используемой в предыдущем пункте.
def replace_emoticon(text):
    global emoticon_dict
    return replace_words_in_dictonary(str(text), emoticon_dict)

### 7. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'
def replace_punctuation_mark(text):
    return re.sub(r'[^\w\s]', ' ', text)

### 8. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'
def replace_other_symbol(text):
    return re.sub(r'[^a-zA-Z0-9]', ' ', text)

### 9. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'
def replace_numbers(text):
    return re.sub(r'[^a-zA-Z]', ' ', text)

### 10. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])
def delete_lonely_char(text):
    return ' '.join([word for word in text.split() if len(word)>1])

In [21]:
def preprocess(text):
    func = [replace_special_symbol, delete_users_name, delete_users_name, lower_tweets, replace_cutwords,
            replace_short_words, replace_emoticon, replace_punctuation_mark, replace_other_symbol, replace_numbers, delete_lonely_char]
    result = text
    for f in func:
        result = f(result)
    return result

In [22]:
combine_df['clean_tweet'] = combine_df['tweet'].apply(lambda x: preprocess(x))

In [23]:
combine_df['clean_tweet'].head(10)

0    when father is dysfunctional and is so selfish...
1    thanks for lyft credit cannot use cause they d...
2                                  bihday your majesty
3      model love you take with you all the time in ur
4                    factsguide society now motivation
5    huge fan fare and big talking before they leav...
6                               camping tomorrow danny
7    the next school year is the year for exams can...
8    we won love the land allin cavs champions clev...
9                   welcome here am it has it is so gr
Name: clean_tweet, dtype: object

In [24]:
combine_df['tweet_token'] = combine_df.clean_tweet.apply(lambda x: nltk.word_tokenize(x))
combine_df['tweet_token'].head(2)

0    [when, father, is, dysfunctional, and, is, so,...
1    [thanks, for, lyft, credit, can, not, use, cau...
Name: tweet_token, dtype: object

In [25]:
stop_words = nltk.corpus.stopwords.words('english')
combine_df['tweet_token_filtered' ] = combine_df.tweet_token.apply(lambda x: [token for token in x if token not in stop_words])

In [26]:
stemmer = nltk.stem.PorterStemmer()
combine_df['tweet_stemmed'] = combine_df.tweet_token_filtered.apply(lambda x: [stemmer.stem(token) for token in x])

In [27]:
lemmatizer = nltk.stem.wordnet.WordNetLemmatizer()
combine_df['tweet_lemmatized'] = combine_df.tweet_token_filtered.apply(lambda x: [lemmatizer.lemmatize(token) for token in x])

In [4]:
import pandas as pd
import numpy as np
import nltk

import spacy
import en_core_web_md

In [7]:
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [28]:
processed_df = combine_df
processed_df.head(2)

   id  ...                                   tweet_lemmatized
0   1  ...  [father, dysfunctional, selfish, drag, kid, dy...
1   2  ...  [thanks, lyft, credit, use, cause, offer, whee...

[2 rows x 8 columns]

In [ ]:
# conda install C:/Users/user/Downloads/Conda_packages/spacy-model-en_core_web_md-2.3.1-pyh9f0ad1d_0.tar.bz2
# conda install C:/Users/user/Downloads/Conda_packages/spacy-2.3.2-py36hdbb1a49_0.tar.bz2

#### Задание 1.
Используя библиотеку Spacy, вывести ТОП-20 популярных NER в combine_df датасете.
Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным? (Учтите, что max_word_limit_spacy для Spacy = 1000000)

С помощью Spacy выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор? Повторим шаги из заданий 1 и 2, используя библиотеку nltk

In [29]:
nlp = en_core_web_md.load()

In [30]:
processed_df['NER_spacy'] = processed_df['clean_tweet'].apply(lambda x:  nlp(x))

In [31]:
processed_df[['NER_spacy']].head(10)

                                           NER_spacy
0  (when, father, is, dysfunctional, and, is, so,...
1  (thanks, for, lyft, credit, can, not, use, cau...
2                            (bihday, your, majesty)
3  (model, love, you, take, with, you, all, the, ...
4             (factsguide, society, now, motivation)
5  (huge, fan, fare, and, big, talking, before, t...
6                         (camping, tomorrow, danny)
7  (the, next, school, year, is, the, year, for, ...
8  (we, won, love, the, land, allin, cavs, champi...
9       (welcome, here, am, it, has, it, is, so, gr)

In [32]:
def ners_entities(ner_list):
    ners = []
    for doc in ner_list:
        for ent in doc.ents:
            ners.append((ent.text, ent.label_))

    return pd.DataFrame(ners, columns=['word', 'NER'])

In [33]:
df_ner = ners_entities(processed_df['NER_spacy'].tolist())
df_ner.head()

                 word   NER
0         lyft credit   ORG
1                 pdx   GPE
2              bihday   ORG
3  factsguide society   ORG
4            tomorrow  DATE

Самые популярыне типы NER:

In [34]:
df_ner['NER'].value_counts().head(20)

PERSON         14478
DATE            8412
ORG             7048
GPE             4878
TIME            1721
NORP            1577
CARDINAL         912
ORDINAL          453
FAC              317
LOC              223
PRODUCT          197
WORK_OF_ART      150
EVENT            103
LANGUAGE          36
QUANTITY          25
LAW               19
MONEY             13
PERCENT            2
Name: NER, dtype: int64

In [35]:
df_ner[df_ner['NER']=='PERSON']['word'].value_counts().head(20)

bihday                                                     149
obama                                                       93
bing bong bing bong                                         82
lighttherapy                                                78
hu                                                          51
hillary                                                     42
fathersday                                                  41
staed                                                       41
feminismiscancer feminismisterrorism feminismmuktbharat     34
essentialoils                                               30
christina grimmie                                           27
bull chase                                                  27
lebron                                                      24
bjp                                                         23
shi                                                         23
brexit blm                                                  23
donald trump                                                23
fridayfeeling                                               22
wtf                                                         20
jesus                                                       20
Name: word, dtype: int64

In [36]:
df_ner[df_ner['NER']=='ORG']['word'].value_counts().head(20)

fathersday     242
bihday         106
allahsoil       84
sjw             76
gop             54
instagram       40
nba             39
islam           36
brexit          35
malevote        34
stas            30
disney          28
google          27
gif             24
unfounately     23
udtapunjab      21
amazon          21
wso             20
tgif ff         19
cnn             19
Name: word, dtype: int64

#### Задание 2.
Используя библиотеку nltk, вывести ТОП-20 популярных NER в combine_df датасете. Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным? Для данного задания используем ограничение на количество символов во входном датасете (max_word_limit_spacy = 1000000), чтобы иметь возможность сравнить результаты работы Spacy и nltk. Обратите внимание, что nltk чувствителен к регистру. С помощью nltk выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор?

In [37]:
text = processed_df['clean_tweet'].str.upper().to_string()

In [38]:
chunks = nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(text)))

In [39]:
ners = {
            (' '.join(c[0] for c in chunk), chunk.label() ) 
            for chunk in chunks 
            if hasattr(chunk, 'label') 
        }

In [40]:
df_ner = pd.DataFrame(ners, columns=['word', 'NER'])
df_ner.head()

        word           NER
0  EVOLUTION  ORGANIZATION
1  SONKO FOR  ORGANIZATION
2    CATLIFE  ORGANIZATION
3       DAYS  ORGANIZATION
4       SWIM  ORGANIZATION

In [41]:
df_ner['NER'].value_counts().head(20)

ORGANIZATION    10872
PERSON             75
GPE                22
FACILITY           20
GSP                 1
Name: NER, dtype: int64

In [42]:
df_ner[df_ner['NER']=='PERSON']['word'].value_counts().head(20)

ALBUM                    1
CLINTON FOR              1
DAVID REMICK             1
JOHN VARNAN              1
PERSON KNOW              1
BILL HAS                 1
BERRY GREEKYOGU          1
MARIE                    1
JOHNSON ETC              1
OBAMA                    1
STEADY SUB               1
JOHN HUNTERS GLASTONB    1
JOHN BURR                1
JOHNSON AT               1
JOHN MCCAIN              1
ALBUM IS                 1
JOHN VERY                1
CLIFF HOW                1
MILES TO                 1
ALBUM AND HO             1
Name: word, dtype: int64

In [43]:
df_ner[df_ner['NER']=='ORGANIZATION']['word'].value_counts().head(20)

TOWEL              1
TRANSMACILANDAK    1
ALEVEL             1
CENTRE             1
SOLID              1
NERD               1
QUOTESILOVE        1
SADISTIC           1
COFFE              1
EXACT              1
DESERVED           1
FLAG OF            1
REMINDER           1
NOOOOOOOOO         1
WEEKENDOFHELL      1
FAILURE            1
BXTCHES            1
ELMIRA             1
LOSE               1
SOAP               1
Name: word, dtype: int64